<h1 id="sign-up-h1">• Linda •</h1>
<h2 id='sign-up-h2'> welcome to {{user.firstName}}'s hidden paradise </h2>
<span>
  <h3> name: {{user.firstName}} {{user.lastName}}</h3>
  <h3> email: {{user.email}}</h3>
  <h3> age: {{user.age}}</h3>
  <h3> location: {{user.location}}</h3>
  <h3> description: {{user.description}}</h3>
</span>